<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" href="http://www.i2cat.net/sites/default/files/favicon.ico">

    <title>AV Mixer</title>

    <!-- Bootstrap core CSS -->
    <link href="/bs/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/bs/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/app/avmixer">AV Mixer</a>
        </div>
        <div class="navbar-collapse collapse">
         <!--  <form class="navbar-form navbar-left">
            <button type="submit" class="btn btn-default btn-sm">Statistics</button>
          </form> -->
          <form class="navbar-form navbar-right" action="/app/stop" method="post">
            <button type="submit" class="btn btn-danger btn-sm">Stop</button>
          </form>
          <div class="navbar-form navbar-right">
          	<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#outputURIs"><span class="glyphicon glyphicon-th-large"></span> Output URIs</button>
          </div>
          <div class="navbar-form navbar-right">
          	<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addRTSPModal"><span class="glyphicon glyphicon-plus"></span> Add RTSP input</button>
          </div>
          <div class="navbar-form navbar-right">
          	<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addRTPModal"><span class="glyphicon glyphicon-plus"></span> Add RTP input</button>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<!-- Modal window - form: addRTPInput -->
	<div class="modal fade" id="addRTPModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">Add media</h4>
	            </div>
	
	            <div class="modal-body">
	                <!-- The form is placed inside the body of modal -->
                  	<div class="row">
	                    <div class="col-sm-6">
			                <form id="addVideoForm" class="form-horizontal" role="form" action="/app/avmixer/video/{{stateVideoHash.channels.size}}/addSession" method="post">
			                  <div class="row">
			                    <div class="col-sm-12 text-center">
			                      <h4>Add video</h4>
			                    </div>
			                  </div>
			                  <div class="row">
			                    <div class="col-sm-12 text-center">
			                      <input type="numeric" class="form-control input-sm text-center" name="port" placeholder="Receiver port">
			                    </div>
			                  </div>
			                  <div class = "row">&nbsp;</div>
			                  <div class="row">
			                    <div class="col-sm-12 text-center">
			                      <select class="form-control" name="codec">
			                        <option value="none">Codec</option>
			                        <option value="H264">H264</option>
			                        <option value="VP8">VP8</option>
			                      </select>
			                    </div>
			                  </div>
			                  <div class = "row">&nbsp;</div>
			                  <div class = "row">&nbsp;</div>
			                  <div class = "row">&nbsp;</div>
			                  <div class = "row">&nbsp;</div><p>
			                  <div class="row">
			                    <div class="col-sm-12 text-center">
			                      <button type="submit" class="btn btn-default">Add</button>
			                    </div>
			                  </div>
			                  <div class = "row">&nbsp;</div>
			                </form>
	                	</div>
	                	<div class="col-sm-6">
			                <form id="addAudioForm" class="form-horizontal" role="form" action="/app/avmixer/audio/{{stateAudioHash.channels.size}}/addSession" method="post">
				              <div class="row">
				                <div class="col-sm-12 text-center">
				                  <h4>Add audio</h4>
				                </div>
				              </div>
				              <div class="row">
				                <div class="col-sm-12 text-center text-center">
				                  <input type="numeric" class="form-control input-sm text-center" name="port" id="port" placeholder="Receiver port">
				                </div>
				              </div>
				              <div class = "row">&nbsp;</div>
				              <div class="row">
				                  <div class="col-sm-12 text-center">
				                    <select class="form-control" name="codec">
				                      <option value="none">Codec</option>
				                      <option value="pcm">PCM</option>
				                      <option value="pcmu">PCMU</option>
				                      <option value="opus">OPUS</option>
				                      <option value="aac">AAC</option>
				                      <option value="mp3">MP3</option>
				                    </select>
				                  </div>
				              </div>
				              <div class="row">
				                  <div class="col-sm-12 text-center">
				                    <select class="form-control" name="sampleRate">
				                      <option value="none">Smp.Rate</option>
				                      <option value="8000">8000</option>
				                      <option value="44100">44100</option>
				                      <option value="48000">48000</option>
				                    </select>
				                  </div>
				              </div>
				              <div class="row">
				                  <div class="col-sm-12 text-center">
				                    <select class="form-control" name="channels">
				                      <option value="none">Channels</option>
				                      <option value="1">1</option>
				                      <option value="2">2</option>
				                    </select>
				                  </div>
				              </div>
				              <div class = "row">&nbsp;</div>
				              <div class="row">
				                  <div class="col-sm-12 text-center">
				                    <button type="submit" class="btn btn-default">Add</button>
				                  </div>
				              </div>
				            </form>		
	                	</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<!-- Modal window - form: addRTSPInput -->
	<div class="modal fade" id="addRTSPModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">Add new RTSP input session</h4>
	            </div>
	
	            <div class="modal-body">
	                <!-- The form is placed inside the body of modal -->
                  	<div class="row">
	                    <div class="col-sm-12">
			                <form id="addRTSPForm" class="form" role="form" action="/app/addRTSPSession" method="post">
			                  <input type="numeric" class="form-control input-sm" name="channel" placeholder="Mixer channel">
			                  <div class = "row">&nbsp;</div>
			                  <input type="text" class="form-control input-sm" name="uri" placeholder="URI">
			                  <div class = "row">&nbsp;</div>
			                  <button type="submit" class="btn btn-default">Add</button>
			                </form>
	                	</div>
	                	
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<!-- Modal window - form: output grids -->
	<div class="modal fade" id="outputURIs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">RTSP output sessions</h4>
	            </div>
	
	            <div class="modal-body">
	                <!-- The form is placed inside the body of modal -->
				  	<div class="panel panel-default">
		             <div class="panel-body">
		               {% for session in stateVideoHash.sessions %}
		               <h4>{{ session.id | upcase }}</h4>
		               <h5>{{ session.uri }}</h5>
		               {% endfor %}
		             </div> 
		           </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<!-- Layout -->
	<div class="row">
         <div class="col-md-7">
          <div class="row">
           <div class="col-sm-12">
            <div class="panel panel-default">
             	<div class="panel-heading">
					<h4 class="text-center">Video channels</h4>
				</div>
             	<div class="panel-body">
				<table>	
					<tr>
						<td>	         
                    		<h3 style="margin-top:3px;margin-right:10px;"><span class="label label-warning">&nbsp;&nbsp;CUT&nbsp;&nbsp;</span></h3>
						</td>
						{% for channel in stateVideoHash.channels %}
						<td>
							<form class="btn-group" action="/app/avmixer/video/{{channel.channel}}/commute" method="post">
							  <button type="submit" class="btn btn-default">ch.{{channel.channel}}</button>
							</form>
						</td>
						{% endfor %}
         					{% for channel in (1..stateVideoHash.maxChannels) offset:stateVideoHash.channels.size%}
						<td>
							<form class="btn-group is-disabled" action="/app/avmixer/video/{{ channel }}/commute" method="post">
							  <button type="submit" class="btn btn-default">ch.{{ channel }}</button>
							</form>
						</td>
				        {% endfor %}
					</tr>
					<tr>
						<td>	         
                    		<h3 style="margin-top:3px;margin-right:10px;"><span class="label label-warning"> FADE1 </span></h3>
						</td>
						{% for channel in stateVideoHash.channels %}
						<td>
							<form class="btn-group" action="/app/avmixer/video/{{channel.channel}}/fade/500" method="post">
							  <button type="submit" class="btn btn-default">ch.{{channel.channel}}</button>
							</form>
						</td>
						{% endfor %}
         					{% for channel in (1..stateVideoHash.maxChannels) offset:stateVideoHash.channels.size%}
						<td>
							<form class="btn-group is-disabled" action="/app/avmixer/video/{{ channel }}/fade/500" method="post">
							  <button type="submit" class="btn btn-default">ch.{{ channel }}</button>
							</form>
						</td>
				        {% endfor %}
					</tr>
					<tr>
						<td>	         
                    		<h3 style="margin-top:3px;margin-right:10px;"><span class="label label-warning"> FADE2 </span></h3>
						</td>
													{% for channel in stateVideoHash.channels %}
						<td>
							<form class="btn-group" action="/app/avmixer/video/{{channel.channel}}/fade/1000" method="post">
							  <button type="submit" class="btn btn-default">ch.{{channel.channel}}</button>
							</form>
						</td>
						{% endfor %}
         					{% for channel in (1..stateVideoHash.maxChannels) offset:stateVideoHash.channels.size%}
						<td>
							<form class="btn-group is-disabled" action="/app/avmixer/video/{{ channel }}/fade/1000" method="post">
							  <button type="submit" class="btn btn-default">ch.{{ channel }}</button>
							</form>
						</td>
				        {% endfor %}
					</tr>
					<tr>
						<td>	         
                    		<h3 style="margin-top:3px;margin-right:10px;"><span class="label label-warning"> BLEND </span></h3>
						</td>
						{% for channel in stateVideoHash.channels %}
						<td>
							<form class="btn-group" action="/app/avmixer/video/{{channel.channel}}/blend" method="post">
							  <button type="submit" class="btn btn-default">ch.{{channel.channel}}</button>
							</form>
						</td>
						{% endfor %}
         					{% for channel in (1..stateVideoHash.maxChannels) offset:stateVideoHash.channels.size%}
						<td>
							<form class="btn-group is-disabled" action="/app/avmixer/video/{{ channel }}/blend" method="post">
							  <button type="submit" class="btn btn-default">ch.{{ channel }}</button>
							</form>
						</td>
				        {% endfor %}
					</tr>
					</table>
	                <p>
                </div>
             </div>
            </div>
           </div> 
           
           <div class="row">
            <div class="col-sm-12">
            <div class="row">
            <div class="col-md-10">
              <div class="panel panel-default">
		        <div class="panel-heading">
		          <h4 class="text-center">
		            Audio Channels
		          </h4>
		        </div>
		        <div class="panel-body">
		        {% if stateAudioHash.channels %}
		          {% for channel in stateAudioHash.channels %}
			          <div class="col-sm-1 text-center"  style="min-width:75px;">
				          <div class="row">
				              <h5>Port {{ channel.id }}</h5>
				          </div>
			              <div class="row">
			                  <form class="form" action="/app/avmixer/audio/{{channel.id}}/mute" method="post">
			                    <button type="submit" class="btn btn-default">Mute</button>
			                  </form>
			              </div><p></p>
			              <div class="row">
			                  <form class="form" action="/app/avmixer/audio/{{channel.id}}/solo" method="post">
			                    <button type="submit" class="btn btn-default">Solo</button>
			                  </form>
			              </div>
		                  <div class = "row">&nbsp;</div>
				          <div class="row">
				              	<input type="range" class="vertical" style="padding-top:-10px;" min="0" max="1" step="0.01" orient="vertical" value={{ channel.gain }} oninput="changeChannelVolume({{channel.id}}, this.value)"/>
				          </div>
				          <div class="row">
				              <input class="form-control input-sm text-center" name="{{channel.id}}Gain" id="{{channel.id}}Gain" value={{ channel.gain }}>
				          </div>
			          </div>
		          {% endfor %}
		        {% endif %}
		        {% if stateAudioHash.channels.size == 0 %}
		          <div class="col-sm-12 text-center"">
		            		<h5>NO AUDIO INPUTS YET</h5>
		           </div>
		        {% endif%}
		        <!--   
		        {% for channel in (1...stateAudioHash.maxChannels) offset:stateAudioHash.channels.size%}
		          <div class="col-sm-1 text-center is-disabled"  style="min-width:75px;">
			          <div class="row">
			                <h5>Port </h5>
			          </div>
		              <div class="row">
		                  <form class="form" action="/app/avmixer/audio/{{channel.id}}/mute" method="post">
		                    <button type="submit" class="btn btn-default">Mute</button>
		                  </form>
		              </div><p></p>
		              <div class="row">
		                  <form class="form" action="/app/avmixer/audio/{{channel.id}}/solo" method="post">
		                    <button type="submit" class="btn btn-default">Solo</button>
		                  </form>
		              </div>
					  <div class = "row">&nbsp;</div>
			          <div class="row">
			            <input type="range" class="vertical" min="0" max="1" step="0.01" orient="vertical" value={{ channel.gain }} oninput="changeChannelVolume({{channel.id}}, this.value)"/>
			          </div>
			          <div class="row">
			                <input class="form-control input-sm" name="{{channel.id}}Gain" id="{{channel.id}}Gain" value={{ channel.gain }}>
			          </div>
		          </div>
		        {% endfor %} 
		        -->
		        </div>
		      </div>
           </div>
           <div class="col-md-2">
              <div class="panel panel-default">
		        <div class="panel-heading">
		          <h4 class="text-center">
		            Master
		          </h4>
		        </div>
		        <div class="panel-body">
		         <div class="col-sm-1 text-center"  style="min-width:75px;">
	           		<div class="row">
				          <form class="navbar-form" action="/app/avmixer/audio/master/mute" method="post">
				            <button type="submit" class="btn btn-default btn-block">Mute</button>
				          </form>
				      </div><p></p>
				      <div class="row">
				           <input type="range" class="vertical" min="0" max="1" step="0.01" orient="vertical" value={{stateAudioHash.masterGain}} oninput="changeChannelVolume('master', this.value)"/>
				      </div>
				      <div class = "row">&nbsp;</div>
				      <div class="row">
				          <input class="form-control input-sm text-center" name="masterGain" id="masterGain" value={{stateAudioHash.masterGain}}>
				      </div>
				   </div>
				   </div>
				</div>
	           </div>
             </div>
             
            </div>
           </div>
           
         </div>

		 <div class="col-md-5">
		   <div class="panel panel-default">
	        <div class="panel-body">
	          <ul class="nav nav-tabs">
	          	<li><h4>Output grids:</h4></li>
	            <li><a href="grid2x2">Grid 2x2</a></li>
	            <li><a href="grid3x3">Grid 3x3</a></li>
	            <li><a href="grid4x4">Grid 4x4</a></li>
	            <li><a href="gridPiP">PiP</a></li>
	          </ul>
	          <div class = "row">&nbsp;</div>
	          <form class="navbar-form" action="/app/avmixer/video/{{stateVideoHash.grid.id}}/applyGrid" method="post">
	            <div class="row">
	              <div class="col-md-3 col-md-offset-1">
	                <div class="row">
	                  <img src="/image/{{stateVideoHash.grid.id}}grid.jpg" class="img-responsive" alt="{{stateVideoHash.grid.id}}" class="img-rounded">
	                </div>
	                <div class = "row"> &nbsp; </div>
	                <div class="row">
	                  <button type="submit" class="btn btn-default">Apply</button>
	                </div>
	              </div>
	              <div class="col-md-7 col-md-offset-1">
	              	{% for position in stateVideoHash.grid.positions %}
					 <select id="cd-dropdown-grid-position" class="btn btn-default cd-select" style="min-width:100px;" name="{{position.id}}">
						<option class="btn btn-default" value="0" {% if position.channel == 0 %} selected {% endif %}>Position {{ position.id }}</option>
					  	{% for channel in stateVideoHash.channels %}
							<option class="btn btn-default" value="{{forloop.index}}" {% if position.channel == forloop.index %} selected {% endif %}>Pos.{{ position.id }} ch.{{forloop.index}}</option>
					  	{% endfor %}
					 </select>
	                {% endfor %}
	              </div>
	            </div>
	          </form>
	        </div>
	      </div>
		 </div>

	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bs/assets/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.dropdown.js"></script>
    <script src="/bs/dist/js/bootstrap.min.js"></script>
    <script src="/bs/assets/js/holder.js"></script>
    <script src="/js/utils.js"></script>
    <script type="text/javascript">
	function set_audio_mode() {
		switch ($('#cd-dropdown-audio-mode').find(":selected").text()) {
		case "48kHz 2ch. (PCM)":
			audioMode = "--audio-capture-channels 2";
			break;
		case "8kHz 1ch. (PCM)":
			audioMode = "--audio-codec PCM:8000 --audio-capture-channels 1";
			break;
		case "48kHz 2ch. (codec: OPUS)":
			audioMode = "--audio-codec OPUS:48000 --audio-capture-channels 2";
			break;
		case "8kHz 1ch. (codec: OPUS)":
			audioMode = "--audio-codec OPUS:8000 --audio-capture-channels 1";
			break;
		default:
			alert("Error when setting audio mode, please check configuration.");
			break;
		}
	}
    </script>
    <script type="text/javascript">
    function changeChannelVolume(channelID, volume) {
         id = channelID + "Gain"
         uri = "/app/avmixer/audio/" + channelID + "/changeVolume"

       document.getElementById(id).value = volume;

       $.ajax({
         type: 'POST',
         url: uri,
         data: "volume=" + volume,
         async:false
       });
    }
	$('#addVideoForm').bootstrapValidator({
	    feedbackIcons: {
	        valid: 'glyphicon glyphicon-ok',
	        invalid: 'glyphicon glyphicon-remove',
	        validating: 'glyphicon glyphicon-refresh'
	    },
	    fields: {
	        port: {
	            validators: {
	                notEmpty: {
	                    message: 'Please, type port number'
	                }
	            }
	        },
	        codec: {
	            validators: {
	                notEmpty: {
	                    message: 'Please, type video codec'
	                }
	            }
	        }
	    }
	});
	$('#addAudioForm').bootstrapValidator({
	    feedbackIcons: {
	        valid: 'glyphicon glyphicon-ok',
	        invalid: 'glyphicon glyphicon-remove',
	        validating: 'glyphicon glyphicon-refresh'
	    },
	    fields: {
	        port: {
	            validators: {
	                notEmpty: {
	                    message: 'Please, type port number'
	                }
	            }
	        },
	        codec: {
	            validators: {
	                notEmpty: {
	                    message: 'Please, type audio codec'
	                }
	            }
	        },
	     	sampleRate: {
	            validators: {
	                notEmpty: {
	                    message: 'Please, type audio sample rate'
	                }
	            }
	        },
	        channels: {
	            validators: {
	                notEmpty: {
	                    message: 'Please, type number of channels'
	                }
	            }
	        }
	    }
   	});
	$('#addRTSPForm').bootstrapValidator({
	    feedbackIcons: {
	        valid: 'glyphicon glyphicon-ok',
	        invalid: 'glyphicon glyphicon-remove',
	        validating: 'glyphicon glyphicon-refresh'
	    },
	    fields: {
	        channel: {
	            validators: {
	                notEmpty: {
	                    message: 'Please, type channel number'
	                }
	            }
	        },
	        uri: {
	            validators: {
	                notEmpty: {
	                    message: 'Please, type uri'
	                }
	            }
	        }
	    }
	});
    $('#addRTPModal').on('shown.bs.modal', function() {
   	    $('#addVideoForm').bootstrapValidator('resetForm', true);
   	    $('#addAudioForm').bootstrapValidator('resetForm', true);
   	});
    $('#addRTSPModal').on('shown.bs.modal', function() {
   	    $('#addRTSPForm').bootstrapValidator('resetForm', true);
   	});
    </script>
  </body>
</html>