<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/bs/assets/ico/favicon.png">

    <title>Mixer Mockup</title>

    <!-- Bootstrap core CSS -->
    <link href="/bs/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/bs/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mixer</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-left" action="/app/mixer" method="get">
            <button type="submit" class="btn btn-default btn-sm">Mixer</button>
          </form>
          <form class="navbar-form navbar-left" action="/app/commuter" method="get">
            <button type="submit" class="btn btn-default btn-sm">Commuter</button>
          </form>
          <form class="navbar-form navbar-left" action="/app/stats" method="get">
            <button type="submit" class="btn btn-default btn-sm">Statistics</button>
          </form>
          <form class="navbar-form navbar-right" action="/app/stop" method="post">
            <button type="submit" class="btn btn-danger btn-sm">Stop</button>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="page-header">
        <h1>Input streams</h1> 
        <div class = "row">
          <div class="col-sm-offset-8 col-sm-2">
            <div class="input-group input-group-sm">
              <span class="input-group-addon">Fade time (s)</span>
              <input class="form-control input-sm" name="fade_time" id="fade_time" value={{ fade_time }}>
            </div>
          </div>
          <div class="col-sm-2">
            <input type="range" id="fade" min="0" max="5" value={{ fade_time }} step="0.5" onchange="showValue(this.value)"/>
          </div>
        </div>
      </div>
      {% for stream in input_streams %}
      <div class="col-sm-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Stream {{ stream.id }}
            </h3>
          </div>
          <div class="panel-body">
            <div class="panel-group">
            {% for crop in stream.crops %}
              {% if crop.state == 1 %}
              <div class="panel panel-success">
              {% else %}
              <div class="panel panel-warning">
              {% endif %}
                <div class="panel-heading">
                  <h4 class="panel-title">
                    Crop {{ crop.id }}
                    <div class="btn-group pull-right">
                      <form class="form" action="/app/commuter/{{ stream.id }}/crops/{{ crop.id }}/commute" method="post">
                        <button type="submit" class="btn btn-primary btn-xs">Commute</button>
                      </form>
                    </div>
                  </h4>
                </div>
                <div class="panel-body">
                  <div class = "row">
                    <div class="col-sm-6">
                      <div class="input-group input-group-sm">
                        <span class="input-group-addon">Zoom (%)</span>
                        <input class="form-control input-sm" name="zoom" id="zoom_{{ stream.id }}_{{ crop.id }}">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <input type="range" id="zoom" min="0" max="70" step="10" value="0" onchange="changeZoom({{stream.id}},{{crop.id}},this.value)"/>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class = "row">&nbsp;</div>
      <div class="page-header">
        <h1>Layouts</h1> 
      </div>
      <div class="row btn-group" data-toggle="buttons">
        {% for i in (7..13) %}
          <label class="btn btn-default" onclick="set_grid({{i}})">
            <input type="radio" name="options" id="option1">
            <img  src="/image/{{i}}.jpeg" alt="grid-{{i}}" class="img-rounded" width="160" height="90">
          </label>
        {% endfor %}
      </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bs/assets/js/jquery.js"></script>
    <script src="/bs/dist/js/bootstrap.min.js"></script>
    <script src="/bs/assets/js/holder.js"></script>
    <script type="text/javascript">
      function showValue(newValue) {
        id = "fade_time" 
        document.getElementById(id).value=newValue;
        $.ajax({
          type: 'POST',
          url: "/app/change_fade_time",
          data: "fade_time=" + newValue,
          async:false
        });
      }
    </script>
    <script type="text/javascript">
      function changeZoom(str_id, crop_id, newValue) {
        id = "zoom_" + str_id + "_" + crop_id 
        document.getElementById(id).value = newValue;
        $.ajax({
          type: 'POST',
          url: "/app/commuter/" + str_id + "/crops/" + crop_id + "/zoom",
          data: "zoom=" + newValue,
          async:false
        });
      }
    </script>
    <script type="text/javascript">
      function set_grid(id){
        // $.post("/app/grid", { id: id });
        $.ajax({
          type: 'POST',
          url: "/app/grid",
          data: "id=" + id,
          async:false
        });
        location.reload();
      }
    </script>
  </body>
</html>
